@import 'mixins';
@import 'packages/foundation5-sass/foundation';

html,
body
{
	height: 100%;
}

/* controls */
#g-controls {

	position: absolute;
	z-index: 2;
	top: 1vh;
	left: .5vw;
	white-space: nowrap;
	padding-top: .25vh;
	padding-bottom: .25vh;
	padding-left: .5vw;
	padding-right: .5vw;
	border: 1px solid #bbb;
	background: #ddd;

	/* zoom slider */
	#zoom-slider {

		text-align: center;

		span {
			font-size: .88889rem;
			margin-right: .5vw;
		}

		input {
			width: 4vw;
			cursor: pointer;
			position: relative;
			top: .5vh;
		}

	}

}

/* timeline */
#g-timeline {

	position: relative;
	z-index: 1;
	width: 100vw;
	height: 50vh;
	border-bottom: 1px solid #999;
	overflow: auto;
	margin-bottom: 0;

	.loader {
		display: block;
		text-align: center;
		line-height: 50vh;
		font-size: 2rem;
		color: #999;
	}

	table {

		//table-layout: fixed;

		thead {
			.months {
				height: 6.25vh;
				.month {
					font-size: 3.125vh;
					color: #777;
					font-weight: normal;
				}
			}
			.days {
				height: 6.25vh;
				.day {
					font-size: 2.34375vh;
					color: #999;
					font-weight: normal;
					abbr {
						display: block;
						height: 100%;
						text-decoration: none;
						border-bottom: none;
						cursor: help;
					}
				}
			}
		}

		tbody {
			.resource {
				height: 12.5vh;
				.name {
					width: 12.5vw;
					min-width: 12.5vw;
					max-width: 12.5vw;
					padding-left: 0;
					padding-right: 0;
					a {
						display: block;
						line-height: 12.5vh;
						padding-left: .5vw;
						padding-right: .5vw;
					}
				}
			}
		}

		th,
		td
		{


			border: 1px solid #bbb;
			border-spacing: 0;
			border-collapse: collapse;
			text-align: center;
			vertical-align: middle;
			padding: 0;
			padding-left: .5vw;
			padding-right: .5vw;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&[data-dow="0"],
			&[data-dow="6"],
			&[data-holiday],
			&[data-vacation="vacation"]
			{
				background: #ddd;
			}

		}

	}


}


/* resources */
#g-resources {

	position: absolute;
	left: 12.5vw;
	top: 12.5vh;
	list-style: none inside;
	margin-left: 0;
	margin-bottom: 0;

	.resource-timeline {
		height: 12.5vh;
		padding-top: 3.125vh;
	}

}

.resource-tasks {
	font-size: 0;
	margin-left: 0;
	margin-bottom: 0;
	white-space: nowrap;
}

/* task */
.resource-task {
	display: inline-block;
	vertical-align: middle;
	height: 6.25vh;
	background: #bbb;
	border: 1px solid #fff;
	border-right: none;
	text-align: center;
	font-size: .88889rem;
	color: #fff;
}
.resource-task:first-child {
	border-left: none;
}
.resource-task > a {
	display: block;
	color: #fff;
	line-height: 6.25vh;
	padding-left: .25vw;
	padding-right: .25vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.resource-task:nth-child(1) {
	background: #0e90d2;
}
.resource-task:nth-child(2) {
	background: #8058a5;
}
.resource-task:nth-child(3) {
	background: #5eb95e;
}
.resource-task:nth-child(4) {
	background: #dd514c;
}
.resource-task:nth-child(5) {
	background: #f37b1d;
}
.resource-task:nth-child(6) {
	background: #fad232;
}

/* tooltip */
.tooltip {
	margin-top: -1vh;
	background-color: rgba(0,0,0,.75);
	font-size: .88889rem;
	font-weight: normal;
}
.tooltip.tip-top > .nub {
	border-color: rgba(0,0,0,.75) transparent transparent transparent;
}

/* projects
#g-projects {
	float: left;
	width: 25vw;
	height: 50%;
	border-right: 1px solid #999;
	padding: 1vw;
}
#g-filters,
#g-tasks
{
	display: none;
}
*/

/* zoom level 3 */
[data-zoom="3"] {

	#g-timeline {
		table {
			//width: 2262.5vw;
			.day {
				width: 25vw;
				min-width: 25vw;
				max-width: 25vw;
			}
		}
	}

	@include enumerate-task-widths(20, 6.25);

}

/* zoom level 2 */
[data-zoom="2"] {

	#g-timeline {
		table {
			//width: 462.5vw;
			.day {
				width: 5vw;
				min-width: 5vw;
				max-width: 5vw;
			}
		}

	}

	@include enumerate-task-widths(100, 1.25);

}

/* zoom level 1 */
[data-zoom="1"] {

	#g-timeline {
		table {
			//width: 105.25vw;
			thead .days {
				display: none;
				.day {
					width: 1vw;
					min-width: 1vw;
					max-width: 1vw;
					text-indent: -100vw;
					background-image: none;
				}
			}
			tbody {
				.resource {
					height: 6.25vh;
					.name {
						a {
							line-height: 6.25vh;
						}
					}
				}
			}
		}
	}

	#g-resources {
		top: 6.25vh;
		.resource-timeline {
			height: 6.25vh;
			padding-top: 1.5625vh;
		}
	}

	.resource-tasks {

	}
	.resource-task {
		height: 3.125vh;
	}
	.resource-task > a {
		line-height: 3.125vh;
	}

	@include enumerate-task-widths(500, .25);

}

/* {
	padding: 0;
	margin: 0;
}

ul {
	project-style: none;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1.5;
	background: #dddddd;
	color: #333333;
}

body, input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input {
	font-size: 100%;
}

a, a:visited, a:active {
	color: #258;
}

h3 {
	font-weight: bold;
	text-decoration: underline;
	font-size: 120%;
	padding: 8px 6px;
	text-align: center;
}

#g-filters, #g-tasks, #g-projects, #bottom-pane {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#g-filters {
	left: 200px;
	height: 44px;
	bottom: auto;
	background: #bbb;
	border-bottom: 1px solid #bbb;
}

#help {
	padding: 8px;
}

#g-tasks {
	top: 45px;
	bottom: 0;
	left: 220px;
	overflow: auto;
}

#g-projects {
	width: 200px;
	right: auto;
	overflow: auto;
	background: #ddd;
	border-right: 1px solid #bbb;
	background: #bbb;
}

.tag {
	cursor: pointer;
	float: left;
	margin: 5px;
	padding: 2px 7px;
	font-size: 80%;
	font-weight: bold;
	background: #bbb;
	color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;

	opacity: 1;
	transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;

	position: relative;
}

#filters .label {
	float: left;
	margin-top: 9px;
	margin-left: 12px;
	margin-right: 8px;
}

#filters .tag {
	margin-top: 10px;
	border: 1px solid #777;
}

#filters .selected {
	background: #69d;
}

#filters .count {
	font-weight: normal;
	padding-left: 2px;
}

#projects .project {
	padding: 3px 6px;
}

#projects .selected {
	padding: 2px 6px;
	background: #9be;
	font-weight: bold;
}

#projects .project-name {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

#createProject {
	padding: 3px 6px;
	margin-top: 5px;
}

#createProject input {
	width: 180px;
}

#new-task-box {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 60px;
	margin-right: 20px;
	font-size: 160%;
	position: relative;
	height: 40px;
}

#new-task {
	 position: absolute;
	 width: 100%;
}

#items-view {
	margin-top: 5px;
	margin-left: 5px;
}

#item-project .task {
	display: block;
	height: 50px;
	position: relative;
	overflow: hidden;
	border-top: 1px solid #bbb;
}

#item-project .task .destroy {
	cursor: pointer;
	position: absolute;
	left: 5px;
	top: 15px;
	height: 20px;
	width: 20px;
}

#item-project .task .display, #item-project .task .edit {
	margin-left: 30px;
	height: 100%;
	width: auto;
	float: left;
	padding-top: 18px;
	line-height: 1;
}

#task-input {
	width: 300px;
	position: relative;
	top: -3px;
}

#item-project .done .task-text {
	text-decoration: line-through;
	color: #bbb;
}

#item-project .task:hover .destroy {
	background: url('/destroy.png') no-repeat 0 0;
}

#item-project .task .destroy:hover {
	background-position: 0 -20px;
}

#item-project .task .item-tags {
	overflow: auto;
	float: right;
	margin-right: 8px;
}

#item-project .task .item-tags .tag {
	margin-top: 15px;
}

#item-project .task .item-tags .removable_tag {
	padding-right: 22px;
}

#item-project .task .item-tags .tag .remove {
	position: absolute;
	top: 0;
	right: 4px;
	bottom: 0;
	width: 16px;
	background: url('/close_16.png') no-repeat 0 center;
}

#item-project .task .item-tags .tag .remove:hover {
	background-position: -16px center;
}

#item-project .task .item-tags div.addtag {
	background: none;
	color: #333;
	border: 1px dashed #bbb;
}

#item-project .task .check {
	float: left;
	width: 25px;
}

#item-project .task .task-text {
	float: left;
	margin-left: 10px;
	font-size: 100%;
}

#item-project .task .edit input {
	margin-left: 35px;
}

#edittag-input {
	width: 80px;
}
*/